

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: urls_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always

  rabbitmq:  
    image: rabbitmq:3-management-alpine
    restart: always
    ports:
      - "15672:15672" 
      - "5672:5672"

  backend:
    build: ./backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/urls_db
      REDIS_HOST: redis
      RABBITMQ_HOST: rabbitmq 
    depends_on:
      - db
      - redis
      - rabbitmq

  worker:    
    build: ./backend
    restart: always
    command: python worker.py  
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/urls_db
      RABBITMQ_HOST: rabbitmq
    depends_on:
      - db
      - rabbitmq
      - backend

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  postgres_data: