version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}          #  .env
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  #  .env
      POSTGRES_DB: ${POSTGRES_DB}              #  .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "15672:15672"
      - "5672:5672"

  backend:
    build: ./backend
    restart: always
    ports:
      - "5000:5000"
    environment:

      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      REDIS_HOST: redis
      RABBITMQ_HOST: rabbitmq
    depends_on:
      - db
      - redis
      - rabbitmq

  worker:
    build: ./backend
    restart: always
    command: python worker.py
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      RABBITMQ_HOST: rabbitmq
    depends_on:
      - db
      - rabbitmq
      - backend

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  postgres_data: